node_modules
.DS_Store
.cache
.env
dist
.wrangler
worker-configuration.d.ts
package-lock.json
yarn.lock
bun.lock
.vercel
.output
.nitro
/build/
/api/
/server/build
/public/build# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.tanstack